.btn-outline{
    background-color: white;
    border: 1px solid white;
    text-decoration: none;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
}
.btn-outline:hover{
   background-color: transparent;
   color: white !important;
   border: 1px solid black;

}


.text-uppercase{
    color: white;
}
#image{
    background-color: white;
}
#details{
    background-color: black;
    padding: 50px;
    border-left: 20px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
    position:relative;
    justify-content: center;
    align-items: center;
}

.cart-image:hover{
transform:scale(1.5);
}
#td{
    padding: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap');








.imgg{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-muted {
    font-size: 10px;
}

.textmuted {
    color: #6c757d;
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.btn.btn-primary {
    width: 100%;
    height: 55px;
    border-radius: 0;
    padding: 13px 0;
    background-color: black;
    border: none;
    font-weight: 600;
}

.btn.btn-primary:hover .fas {
    transform: translateX(10px);
    transition: transform 0.5s ease
}


.fw-900 {
    font-weight: 900;
}

::placeholder {
    font-size: 12px;
}

.ps-30 {
    padding-left: 30px;
}

.h4 {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 800 !important;
}

.textmuted,
h5,
.text-muted {
    font-family: 'Poppins', sans-serif;
}
.remise{
    background-color: #fff;
    color: black;
    width: 25%;
    height: 15%;
    border-radius: 50%;
    padding: 10px;
    transform: rotate(10deg);
    float: right;
}